/*
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: darkolivegreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    line-height: 20px;
}
#wrap {
	margin: auto;
	width: 1000px;
	background: rgb(63, 63, 63);
	border: 2px solid #000;
}
<!-- Template for the home page -->
#menu{
    height: 30px;
    line-height: 30px;
    background-color: grey;
    color: white
}
#menu ul {
    list-style-type: none;
    padding-left: 30px;
    }
#menu ul li {
    display: block;
    float: left;
    }
#menu ul li a {
    padding: 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: whitesmoke
    }
#header{
    height: 160px;
    background-color: darkslategray;
}
#header h1 { 
    font-size: 50px;
    letter-spacing: -7px;
    padding: 17px 0 0 10px;
    color: #FF5500;
}
*/
/* We don't need this because there are the real one in the below this css */
----------------------------------------------------
* {
	margin: 0;
	padding: 0;
  }

body {
	background: #333;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #222;
     }

a {
 	text-decoration: none;
	color: #99AECD;
  }

a:hover {
	text-decoration: underline;
	color: #4F5D7F;
       }

#wrap {
	margin: 20px auto 10px auto;
	width: 800px;
	background: #fff;
	padding: 10px;
	border: 5px solid #000;
}

#header {
height: 160px;
background: #554d42 url(images/header.jpg) no-repeat;
    text-align: center; 
    color: white; 
    font-size: 300%;
    
}
#header h1 { 
font-size: 50px;
letter-spacing: -7px;
padding: 17px 0 0 10px;
color: #FF5500;
}
#header h1 a { 
color: #D1DDEF;
text-decoration: none;
font-weight: 600;
letter-spacing: -7px;
}
#header h1 a:hover {
color: #fff;
}

#menu {
height: 30px;
    color:thistle;
    font-size: 150%; 
    text-align: center;
    /* we add this three because the style is INLINE STYLE, so i add it to here */
line-height: 30px;
background: #000;
}
#menu ul {
list-style-type: none;
padding-left: 30px;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
padding: 0 20px 0 0;
text-decoration: none;
font-weight: 600;
font-size: 12px;
color: #fff;
}
#menu ul li a:hover {
color: #aaa;
text-decoration: none;
}
/*
#content {
padding: 0 20px 20px 0;
}
We din't use this style because the position is not good */
/* We use this style to set the content and picture position */
    /* Style the content */
    #content{
      padding: 20px;

    }
    /* this line about first content 2 img */
    #first-content{
      text-align: center;
    }
    #second-content{
      text-align: center;
    }
    /* this line about diplay content */
    #img1{
      display: inline-block;
    }
    /* style img */
    #img1 > img{
      height: 300px;
      width: 533.328;
      margin: 10px;
    }
    #img1:hover{
      background-color: white;
    }

.right {
float: right;
width: 600px;
text-align: justify;
padding-top: 5px;
}
.right h2 {
font-size: 18px;
font-weight: 100;
padding: 15px 0 7px 0;
}
.right h2 a {
text-decoration: none;
}
.right h2 a:hover {

}

.left {
float: left;
width: 160px;
padding-top: 10px;
}
.left h2 {
margin: 10px 0 0 0;
padding-left: 10px;
height: 24px;
line-height: 24px;
color: #7988AF;
font-size: 15px;
}
.left ul {
padding: 10px 0 15px 30px;
list-style-type: square;
color: #99AECD;
}
.left ul li a {
text-decoration: none;
font-weight: 600;
}
.left ul li a:hover {

}

#footer {
text-align: center;
font-size: 11px;
color: #aaa;
}
#footer a { color: #aaa; }
#footer a:hover { color: #111; }

#Blue-Button { margin-left:20px ;  margin-top: 50px;  width: 100px auto; }
#Blue-Button a {
	width: 100px;
	height: auto;
	background-color: rgb(38, 96, 255);
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid transparent;
}